$ja-red: #E8392C;
$ja-red-hover: #f8564a;
$ja-red-soft: rgba(232, 57, 44, 0.1);
$ja-gray-soft: #dcdcdc;
$ja-white: #FFFFFF;
$ja-white-soft: lighten(#FFFFFF, 50%);
$nav: #0C0C17;
$nav-border: #292946;
