.copyright {
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: #0C0C17;
    color: $ja-white;
    height: 75px;
}

.footer {
    font-family: $font-family-kanit;
    font-weight: 300;

    &__column {
        @media (max-width: 768px) {
            padding-top: 10px;
            width: 50%;
        }

        > h4 {
            text-decoration: underline;
        }
        &__brand {
            height: 100px;
            width: 115px;
            display: flex;

            &__logo {
                height: auto;
                width: 100%;
            }
        }

        &__list {
            list-style: none;
            margin: 25px 0;
            font-size: 18px;
            line-height: 18px;

            &__wrapper {
                padding: 0;
            }

            &__item {
                color: #0C0C17;
                text-decoration: none;
            }
        }

        &__input {
            border: none;
            border-bottom: gray 1px solid;
            padding-left: 25px;

            &__wrapper {
                position: relative;
                padding: 5px 0;
            }

            &__icon-mail {
                position: absolute;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
            }

            &__icon-send {
                position: absolute;
                top: 50%;
                left: 195px;
                transform: translateY(-50%);
            }

        }

        &__icons {
            padding: 15px 0;

        }

        &__icon {
            padding: 0 10px;
            height: auto;
            width: 45px;
        }
    }
}
